<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
  <div id="wrapper">

    <header class="header">
      <div class="container">
          <div class="row">
              <div class="col-sm">
                <div class="logo">
                  <img src="/assets/images/logo.png" alt="logo">
                </div>
              </div>
              <div class="col-sm">
                <nav class="navbar navbar-expand-lg navbar-light pr-0">
                    <div class="navbar-nav mr-auto"></div>
                    <div class="navbar-nav">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                    </div>
                  <div id="navbarNav" class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto"></ul>
                    <ul class="navbar-nav">
                      <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Calendar</a></li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Gallery
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Photos</a>
                          <a class="dropdown-item active" href="#">Video</a>
                        </div>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="#">Shop</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Press</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
      </div>
    </header>

    <main>
        <section id="home" style="background-image: url('/assets/images/hero.jpg')">

          <div class="site-heading">
            <h3 class="heading">The Lawley Art Group</h3>
          </div>

          <div class="social text-center">
            <div class="social-wrap">
              <ul>
                <li>
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                        <a href="#">
                          <i class="fab fa-instagram"></i>
                        </a>
                      </li>
                      <li>
                          <a href="#">
                            <i class="fab fa-yelp"></i>
                          </a>
                        </li>
              </ul>
              <div class="spacer"></div>
              <h3 class="heading">Newsletter</h3>
            </div>
          </div>

          <div class="container">
            <div id="hero" class="row">
              <div class="col-sm">
                <div class="offset-lg-5 col-lg-7">
                  <div class="text-wrap">
                    <div class="line-1">
                      <span>A Gallery for</span>
                    </div>
                    <div class="line-2">
                      <span>the Working</span>
                    </div>
                    <div class="line-3">
                      <span>Artist</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="about">
          <div class="container">
            <div class="row text-center">
              <div class="col-sm entry-content">
                <h2>Premier Art And Artists</h2>
                <p>
                  Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Sed fringilla mauris sit amet nibh. Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Praesent egestas tristique nibh. Phasellus gravida semper nisi.
                </p>
                <a class="btn" href="#">Learn More</a>
              </div>
            </div>
          </div>
        </section>

        <section id="events">
          <div class="container">
            <div class="row thumbnail-group">
              <div class="col-sm-12 text-center">
                <h3>Calendar of Events</h3>
              </div>
              <div class="col-md-6">
                <div class="thumbnail-main">
                  <img src="/assets/images/event-focus.jpg" alt="">
                </div>
                <div class="post-wrap">
                    <h4 class="post-title">EQuest Patron Party with Laura Cope</h4>
                    <p class="post-subtitle">Tuesday, April 26, 2016 | 6:30pm - 8:30pm</p>
                  </div>
              </div>

              <div class="col-md-6 thumbnails">
                <div class="row">

                  <div class="col-sm-12">
                    <div class="row thumbnail-group">
                      <div class="col-sm-4">
                        <div class="thumbnail">
                          <img src="/assets/images/event-thumb1.jpg" alt="">
                        </div>
                      </div>
                      <div class="col-sm-8 post-info">
                          <div class="post-wrap">
                              <h4 class="post-title">EQuest Patron Party with Laura Cope</h4>
                              <p class="post-subtitle">Tuesday, April 26, 2016 | 6:30pm - 8:30pm</p>
                            </div>
                      </div>
                    </div>
                  </div>


                  <div class="col-sm-12">
                      <div class="row thumbnail-group">
                        <div class="col-sm-4">
                          <div class="thumbnail">
                            <img src="/assets/images/event-thumb2.jpg" alt="">
                          </div>
                        </div>
                        <div class="col-sm-8 post-info">
                          <div class="post-wrap">
                            <h4 class="post-title">EQuest Patron Party with Laura Cope</h4>
                            <p class="post-subtitle">Tuesday, April 26, 2016 | 6:30pm - 8:30pm</p>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="col-sm-12">
                        <div class="row thumbnail-group">
                          <div class="col-sm-4">
                            <div class="thumbnail">
                              <img src="/assets/images/event-thumb3.jpg" alt="">
                            </div>
                          </div>
                          <div class="col-sm-8 post-info">
                              <div class="post-wrap">
                                  <h4 class="post-title">EQuest Patron Party with Laura Cope</h4>
                                  <p class="post-subtitle">Tuesday, April 26, 2016 | 6:30pm - 8:30pm</p>
                                </div>
                          </div>
                        </div>
                      </div>
                  </div>

              </div>
            </div>

            <div class="row">
              <div class="col-sm text-center">
                <a class="btn" href="#">See All Events</a>
              </div>
            </div>
          </div>
        </section>

        <section id="shop">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h3>Shop</h3>
              </div>

              <div class="col-md-4 shop-item">
                  <div class="thumbnail">
                    <img src="/assets/images/shop1.jpg" alt="">
                  </div>
                  <h4 class="post-title">Autumn's Prize</h4>
                  <p class="post-subtitle">Jennifer Vranes</p>
                  <a href="#" class="btn"> Shop Now</a>
                </div>

              <div class="col-md-4 shop-item">
                  <div class="thumbnail">
                    <img src="/assets/images/shop2.jpg" alt="">
                  </div>
                  <h4 class="post-title">Autumn's Prize</h4>
                  <p class="post-subtitle">Jennifer Vranes</p>
                  <a href="#" class="btn"> Shop Now</a>
                </div>

              <div class="col-md-4 shop-item">
                  <div class="thumbnail">
                    <img src="/assets/images/shop3.jpg" alt="">
                  </div>
                  <h4 class="post-title">Autumn's Prize</h4>
                  <p class="post-subtitle">Jennifer Vranes</p>
                  <a href="#" class="btn"> Shop Now</a>
                </div>

              <div class="col-sm-12 text-center">
                <a href="#" class="btn">Shop More</a>
              </div>
            </div>
          </div>
        </section>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-12">
            <h3 class="heading">Stay Updated</h3>

            <form id="signup">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Your email address">
              </div>
              <button class="btn" type="submit">Sign Up</button>
            </form>
          </div>
        </div>

        <div class="text-center colophon">
          <p>&copy;2018 - The Lawley Art Group</p>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
