
.header {
  padding-top: 40px;
  position: absolute;
  top: -100%;
  opacity: 0;
  width: 100%;
  z-index: 9;

  .row {
    position: relative;

    > div {
      position: static;

      > nav {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  > .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

.social {
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  .social-wrap {
    display: inline-block;
    padding: 10px;
    background: $common__bg-overlay;

    > * {
      vertical-align: middle;
      margin: 0 10px;

      @include media-breakpoint-down(xs) {
        display: block;
        margin: 10px auto;
      }
    }
  }

  .heading {
    display: inline;
  }

  ul {
    display: inline;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    margin: 0 6px;
  }

  .fab {
    font-size: 26px;
    vertical-align: middle;
  }

  @include media-breakpoint-up(md) {
    transform: translateY(50%);
    top: 0;

    > div {
      position: absolute;
      right: 0;
      transform: translateX(150px) rotate(90deg);
    }

    .fab {
      transform: rotate(-90deg);
    }

    * {
      font-size: $common__sidebar-text !important;
    }
  }
}


.footer {
  .colophon {
    color: #aaa;
  }
  > div {
    > .row {
      padding-bottom: 20%;
    }
  }
  .btn {
    @include underline-hover;
  }

  background: $color__secondary;
  padding: 10% 0 0;

  .heading {
    color: $color__primary;
  }

  > .container {
    max-width: 400px;
  }
}


#signup {
  input[type="email"] {
    background: transparent;
    border: none;
    border-bottom: solid 2px $color__primary;
    border-radius: 0;
    padding: 30px 0;
    margin-bottom: 40px;

    &,
    &::placeholder {
      font-family: 'Montserrat Regular';
      color: $color__primary;
      text-align: center;
    }
  }

  .btn {
    @include underline-hover(true);

    &:after {
      right: 0;
    }
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px 0;
  opacity: 0;
  bottom: -40px;

  > .container {
    > .row {
      margin-bottom: 40px;
    }
  }

  &#about {
    > .container {
      max-width: 600px;
    }
  }
}

.post-info {
  display: flex;
  align-items: center;
}

.thumbnails {
  > .row {
    display: flex;
    align-items: top;
    height: 100%;
  }

  @include media-breakpoint-up(md) {
    .post-title {
      margin-top: 0;
    }

    .post-subtitle {
      padding-bottom: 0;
    }
  }
}

.thumbnail {
  .post-title,
  .post-date {
    margin: 0;
  }
}

.shop-item {
  @extend .thumbnail-group;

  > .btn {
    @include underline-hover;
  }

  @include media-breakpoint-up(md) {
    text-align: left;
  }
}


.site-heading {
  display: none;
  position: absolute;
  transform: translateY(50%) translateX(-80px) rotate(-90deg);
  left: 0;

  .heading {
    font-size: $common__sidebar-text;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }
}


.post-title {
  margin: 20px 0 0;
  text-transform: initial;
}

.post-subtitle {
  font-size: 14px;
  color: #999;
  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

.thumbnail-group {
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: left;
  }
}

.thumbnail-main,
.thumbnail {
  overflow: hidden;

  img {
    transition: $common__transition;
    transform: scale(1);

    &:hover {
      transform: scale(1.2);
    }
  }
}

.thumbnails {
  > .row {
    display: flex;
    align-items: top;
    height: 100%;
  }

  @include media-breakpoint-up(md) {
    .post-title {
      margin-top: 0;
    }

    .post-subtitle {
      padding-bottom: 0;
    }
  }
}

.thumbnail {
  .post-title,
  .post-date {
    margin: 0;
  }
}

.btn {
  position: relative;
  color: $text__body-color;
  font-family: 'Montserrat Bold';
  font-size: 12px;
  text-transform: uppercase;
  border: solid 2px black;
  border-radius: 0;
  letter-spacing: .15rem;
  padding: 14px 60px;

  &:hover {
    color: $color__primary;
    background: $color__secondary;
  }
}

.post-info {
  display: flex;
  align-items: center;
}
