
@mixin underline-hover($inverse: false) {
  $bg-color: $color__secondary;
  $text-color: $color__secondary;

  @if $inverse {
    $bg-color: $color__primary;
    $text-color: $color__primary;
  }

  position: relative;
  color: $text-color;
  background: none;
  border: none;
  padding: 0;
  padding-bottom: 10px;

  &:after {
    content: "";
    background: $bg-color;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 40%;
    transition: $common__transition;

    @include media-breakpoint-up(md) {
      right: initial;
    }
  }

  &:hover {
    background: none;
    color: $text-color;

    &:after {
      width: 100%;
    }
  }
}
