
.dropdown-menu {
  border: none;
  text-align: center;
  padding: 0;

  @include media-breakpoint-up(md) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.dropdown-item {
  position: relative;
  &:hover {
    background: none;
  }
  &.active {
    color: $color__secondary;
    background: none;
    &:before {
      position: absolute;
      content: "";
      height: 2px;
      background: black;
      width: 40%;
      left: 0;
      bottom: 50%;
      right: 0;
      margin: 0 auto;
    }
  }
}

.btn {
  position: relative;
  color: $text__body-color;
  font-family: 'Montserrat Bold';
  font-size: 12px;
  text-transform: uppercase;
  border: solid 2px black;
  border-radius: 0;
  letter-spacing: .15rem;
  padding: 14px 60px;

  &:hover {
    color: $color__primary;
    background: $color__secondary;
  }
}


.nav-link,
.dropdown-item {
  color: rgba(0, 0, 0, .75)
}

.nav-item > a,
.dropdown-item {
  transition: $common__transition;
  font-size: 12px;
  letter-spacing: .1rem;
  font-family: 'Montserrat Bold';
  margin-bottom: 0;
  padding: 12px;
  text-align: center;
  background: rgba(235, 235, 235, 1);

  @include media-breakpoint-up(lg) {
    background: none;
  }
}

.navbar-toggler {
  border: none;
}
