h1, h2, h3, h4, h5, h6, a {
  color: $color__secondary;
  font-family: 'Montserrat Bold';
  margin-bottom: 40px;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  letter-spacing: .15rem;
}

h4 {
  font-size: 16px;
  letter-spacing: .075rem;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

#hero span, h2 {
  font-family: 'Montserrat Bold';
  font-size: 46px;
  letter-spacing: .5rem;
}

p {
  font-family: 'Montserrat Regular';
  padding-bottom: 32px;
  margin-bottom: 0;
  line-height: 32px;
}
