$color__primary: white;
$color__secondary: black;
$text__body-color: $color__secondary;
$common__transition: all .5s ease-in-out;
$common__sidebar-text: 18px;
$common__bg-overlay: rgba(255, 255, 255, .85);
