@import '~bootstrap/scss/bootstrap.scss';

@import 'vars';
@import 'mixins';
@import 'font-faces';
@import 'type';
@import 'components';
@import 'overrides';


.spacer {
  display: inline-block;
  width: 40px;
  height: 2px;
  background: $color__secondary;
}

.logo {
  max-width: 120px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#home {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;

  @include media-breakpoint-up(md) {
    background-size: contain 100%;
  }
}

#hero {
  > div {
    padding: 10% 0;
  }
  .text-wrap {
    > div {
      margin-bottom: 16px;
    }
    span {
      text-transform: uppercase;
      background: black;
      color: white;
      padding: 10px 20px;
      margin: 10px;
      white-space: nowrap;
    }
  }

  @include media-breakpoint-down(sm) {
    span {
      font-size: 26px;
      padding: 4px 10px;
    }
  }
}

